[submodule "themes/creative-portfolio"]
	path = themes/creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "public"]
	path = public
	url = git@econauts.github.com:econauts/econauts.github.io.git
	branch = master
